.app.dark {
    --bg-color: #201a1ac7;
    --inverted-bg-color: #788378;
    --primary-color: #05f805;
    --inverted-primary-color: #fff;
    --primary-color-rgb: 25, 231, 25;
    --inverted-primary-color-rgb: 255, 255, 255;
    --secondary-color: #429642;
    --inverted-secondary-color: #4c4d4c;
}
